In [3]:
def first_func(z):
    print("Hello", z)

In [4]:
h = "Student"
first_func(h)

Hello Student

In [5]:
def my_calc(x,y):
    z= x*y
    return z

my_calc(3,2)

6

In [6]:
def func_mul(x):
    y1 = x*10
    y2 = x*20
    y3 = x*30
    return ('v1': y1, 'v2': y2, 'v3': y3)

In [7]:
x,y,z = func_mul(10)

In [8]:
print(x,y,z)

100 200 300

In [8]:
def args_func(*args):
    for i in args:
        print('Result: {}'.format(i))

In [9]:
#args_func('apple')
#args_func('apple', 'banana')
args_func('apple', 'banana', 'cherry')

Result: apple
Result: banana
Result: cherry

In [18]:
def kwargs_func(**kwargs):
    for v in kwargs.keys():
        print("{}".format(v), kwargs[v])

In [19]:
kwargs_func(name1 ='apple')
kwargs_func(name1 ='apple',name2= 'banana')
kwargs_func(name1 ='apple', name2 = 'banana',name3= 'cherry')

name1 apple
name1 apple
name2 banana
name1 apple
name2 banana
name3 cherry

In [20]:
def exam(args_1, args_2, *args, **kwargs):
    print(args_1, args_2, args, kwargs)

In [21]:
exam(10,20, 'banana','cherry', 'orange','play', age1=20, age2=30, age3=40)

10 20 ('banana', 'cherry', 'orange', 'play') {'age1': 20, 'age2': 30, 'age3': 40}

In [23]:
def first_func(num):
    def second_func(num):
        print(num)
    print("In_func")
    second_func(num+100)

In [24]:
first_func(100)

In_func
200

In [25]:
second_func(100)

NameError: name 'second_func' is not defined